* {
    margin: 0;
    font-family: "Lato", sans-serif;
}

:root{
    --red: #ED1C24;
    --blue: #00B2FF;
}

/*-------------------------------------------------------*/
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 90vh 1fr;

    background-color: #ffffff;
}

.column {
    flex: 1;
}

.column-left {
    display: flex;

    align-items: center;
    justify-content: center; 
}
/*-------------------------------------------------------*/
/* Column Left */

.spells-container{
    padding: 10%;
    height: 50%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;

    /* background-color: aquamarine; */
}

.spells-container > p{
    width: 100%;
    text-align: center;

    font-size: larger;
    font-weight: bold;
}

.spells-container > div {
    width: 100%;
    height: 100%;

    display: grid;
    justify-content: center; 
    grid-template-columns: 1fr /* 1fr */;
    margin: 2% 0;
}

.spells-b > button {
    background-color: var(--blue);
}

.spells-r > button {
    background-color: var(--red);
}

.spell {
    height: 100%;

    background: none;
    background-image: url(img/potions/potion.webp);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 1.5vh;
    border: none;
    margin: 2%;

    font-size: larger;
    color: white;

    box-shadow: none;
}

.spell:disabled {
    color: rgba(0, 0, 0, 0.5);
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .spells-container{
        padding: 5%;
    
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/*-------------------------------------------------------*/
/* Column Middle */

.topbar {
    height: 10vh;
}

.topbar-controls{
    height: 50%;

    display: flex;
    justify-content: center;
}

.topbar-controls > button{
    border: none;
    background: none;

    height: 100%;
    font-size: large;
}


.topbar-timer{
    height: 50%;

    text-align: center;
    font-weight: lighter;
}

.topbar-timer > button{
    border: none;
    /* background: none; */

    height: 100%;
    /* width: 10%; */

    font-size: 2.5vh;
}

.topbar-timer > button:disabled{
    background: none;
}

.blue-timer{
    color: var(--blue);
}

.red-timer{
    color: var(--red);
}

.board-container {
    height: auto;
}

.bottombar {
    height: 4vh;

    display: flex;
    justify-content: center;
}

.bottombar > button {
    background: none;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
    width: 15%;

    font-size: large;

    align-self: center;
}


/*-------------------------------------------------------*/
/* Column middle > Board */

.board {
    height: 83vh;

    margin: 1vh 2.5vh 0 2.5vh;
    border-radius: 2vh;
    border: 1vh solid black;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    position: relative; /**/
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
    .column-middle {
        height: auto;
    }
    .board {
        padding-top: 0;
        height: 90vw; 
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 2; 
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay-content > p {
    font-size: xx-large;
    padding-bottom: 10%;
}

.overlay-content > button {
    border: none;
    background: none;

    color: white;
    font-size: xx-large;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    padding: 0;

    background: none;
}

.cell-legal{
    background: green !important;
}


.piece {
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}

.piece-free {
    width: calc(100% / 8);
    height: calc(100% / 8);
    position: absolute;
    display: flex;

    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bullet {
    position: fixed;
    width: 0px;
    height: 0px;

    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    
    border-bottom: 20px solid;
}

.r{
    border-color: var(--red);
}

.b{
    border-color: var(--blue);
}

.passThroughPiece {
    opacity: 0.5;
}

/* red */

.r-titan {
    background-image: url(img/pieces/r/r-titan.png);
    background-size: 100%;
}

.r-tank{
    background-image: url(img/pieces/r/r-tank.png);
    background-size: 100%;
}

.r-rico{
    background-image: url(img/pieces/r/r-rico.png);
    background-size: 100%;
}

.r-semirico{
    background-image: url(img/pieces/r/r-semirico.png);
    background-size: 100%;
}

.r-cannon{
    background-image: url(img/pieces/r/r-cannon.png);
    background-size: 100%;
}

/* Blue */

.b-titan{
    background-image: url(img/pieces/b/b-titan.png);
    background-size: 100%;
}

.b-tank{
    background-image: url(img/pieces/b/b-tank.png);
    background-size: 100%;
}

.b-rico{
    background-image: url(img/pieces/b/b-rico.png);
    background-size: 100%;
}

.b-semirico{
    background-image: url(img/pieces/b/b-semirico.png);
    background-size: 100%;
}

.b-cannon{
    background-image: url(img/pieces/b/b-cannon.png);
    background-size: 100%;
}

/*-------------------------------------------------------*/
/* Column right */

.history-container-container{
    height: 100%;
}

.history-title {
    height: 10%;
    padding: 10%;
    box-sizing: border-box;

    align-content: center;
    justify-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.history-title > div {
    height: 100%;

    font-size: larger;
    font-weight: bold;
}

.history-container{
    padding: 10%;
    padding-top: 0;
    height: 90%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
}

.history-container > div > div{
    border-radius: 1.5vh;
}

.history-b {
    width: 100%;
}

.history-r {
    width: 100%;
}

.history-b > .history-entry {
    background-color: var(--blue);
}

.history-r > .history-entry {
    background-color: var(--red);
}

.history-entry {
    height: calc((30vh - 20%) / 4);
    padding: 5%;
    font-size: 1em;
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    border: 2px solid white;
}

/*-------------------------------------------------------*/
.homeScreen {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.7);
}

.homeScreenButtons{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

    width: 70%;
}

.homeScreenButtons > button{
    border: none;
    border-radius: 1.5vh;
    margin: 5%;
    background: white;

    height: 100%;
    font-size: large;
}



